<mat-toolbar class="nav-bar">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/home">
      <img src="/assets/kuchi.svg">
    </button>
    <span class="example-spacer"></span>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="technologies">Technologies</a>
    <a mat-button routerLink="projects">Experience</a>
    <a mat-button routerLink="contact">Contact</a>
    <!-- <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example business icon" fontIcon="dark_mode"></mat-icon>
    </button> -->
</mat-toolbar>
