.footer{
    color: azure;
    width: 1000Px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-name{
    background: -webkit-linear-gradient(0deg, #c93b3b 0%, #48abe0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}