<div class="about-container">
  <h1 id="about-header">About Me</h1>
  <div class="header-text1">
    <h2>
      My name is Durgesh Kuchi, I am from Andhra Pradesh, IND. I am a Computer
      Science Graduate, Currently I am looking for a full stack developer roles.
    </h2>
  </div>
  <h1 id="about-header">Work Experience</h1>
  <about-child
    [companyName]="'Baylor College of Medicine'"
    [companyAddress]="'Houston, TX'"
    [experienceDate]="'December 2022 - May 2023'"
  ></about-child>
  <about-child
    [companyName]="'American Cyber Systems Inc'"
    [companyAddress]="'Hyderabad, IND'"
    [experienceDate]="'December 2019 - August 2021'"
  ></about-child>
  <h1 id="about-header">Education</h1>
  <about-education
    [Designation]="'Masters in Computer Science'"
    [collegeName]="'University of Houston - Clear Lake'"
    [collegeAddress]="'Houston, TX'"
    [collegeDate]="'August 2021 - May 2023'"
  ></about-education>
  <about-education
    [Designation]="'Bachelors in Electronics & Communications'"
    [collegeName]="'Jawaharlal Nehru Technological University'"
    [collegeAddress]="'Andhra Pradesh, IND'"
    [collegeDate]="'August 2016 - May 2020'"
  ></about-education>
</div>
