.about-container
{
    width: 1000Px;
    margin: auto;
    padding: 100px 100px 0 100px;
    display: block;
}
#about-header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:bold
}
.header-text1
{
    margin:50px 0 50px 0;
}
