<div class="project-container">
    <h1 class="projects-header">Experience</h1>
    <div class="project-info">
        <project-child project_Name="Full Stack Developer" project_Description="Involved in front-end Password hashing using SHA-512 algorithm and backend hashing using Pbkdf2 algorithm. Involved in JWT Token generation and signing using RSA 256.Created a login page with Sign in with Google functionality using Google Cloud Console and the @abacritt/angularx-social-loginpackage." tech_stack="Angular 13, Node.js, Express.js, Mongodb"></project-child>
        <project-child project_Name="Software Engineer" project_Description="Involved in the design and implementation of a Single Page Application (SPA) that presents multiple views in a consolidated manner utilizing Angular JS, which follows the MVC framework. Performed CRUD operations and Data Migrations in the Mongo Database." tech_stack="Angular 13, Node.js, Express.js, Mongodb"></project-child>
    </div>
</div>
