<div class="project-container">
  <h1 class="projects-header">Experience</h1>
  <div class="project-info">
    <project-child
      project_Name="Full Stack Developer@Invences Inc"
      project_Description="Skilled React JS developer proficient in building dynamic single-page applications (SPAs) using Flux architecture. Experienced in creating reusable components, optimizing performance with Redux, and integrating Material UI for enhanced user experience. Utilizes GitHub for collaborative code management and JIRA for bug tracking, ensuring clean and maintainable codebase."
      tech_stack="ReactJS, Node.js, Express.js, Mongodb"
    ></project-child>
    <project-child
      project_Name="Full Stack Developer@BCM"
      project_Description="Involved in front-end Password hashing using SHA-512 algorithm and backend hashing using Pbkdf2 algorithm. Involved in JWT Token generation and signing using RSA 256.Created a login page with Sign in with Google functionality using Google Cloud Console and the @abacritt/angularx-social-loginpackage."
      tech_stack="Angular 13, Node.js, Express.js, Mongodb"
    ></project-child>
    <project-child
      project_Name="Full Stack Developer@Innova Solutions"
      project_Description="Led the development of a web application, utilizing Node.js and Express.js for backend services, React.js for responsive interfaces, and MongoDB for efficient database management. Implemented robust authentication mechanisms, integrated third-party APIs, and ensured seamless deployment on AWS, all while adhering to Agile methodologies."
      tech_stack="ReactJS, Node.js, Express.js, Mongodb, AWS"
    ></project-child>
  </div>
</div>
