.project-container{
    width: 1000Px;
    margin: auto;
    padding: 50px 100px 0 100px;
    height: 80%;
}
.projects-header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:bold;
    padding-top: 40px;
    padding-bottom: 20px;
}
.project-info{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}