<div class="technologies">
  <h1 class="tech-header">Tech Stack</h1>
  <h4 class="tech-desc">
    Technologies that I have been working with recently.
  </h4>
  <div class="techstackContainer">
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127300/rdozptt7ky1axcnoew1v.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127327/jafwx5dlkxhjghbyviik.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127296/gjuxv5rkr2qdv9jbwdjx.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127330/j2a2whkjiu1wtomw6vhj.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127283/k1gvuzdg7uwwilj2vzwd.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127292/o32pvyngv3koosrorkvp.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1714851628/Image_cmpmdd.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1714851747/1_EOMP0V69RZ5xChG5pRoFyA_1_rumegr.png"
    />
  </div>
  <h1 class="tools-header">Tools</h1>
  <div class="tools">
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127279/n4ovgmcshievq4ingvio.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127322/p5jiyszpytwsnoe5r7ad.png"
    />
    <img
      src="https://res.cloudinary.com/dhyrybjjw/image/upload/v1697127324/kwufwmgpyjqmmqqt2qtg.png"
    />
  </div>
</div>
