<div class="technologies">
    <h1 class="tech-header">Tech Stack</h1>
    <h4 class="tech-desc">Technologies that I have been working with recently.</h4>
    <div class="techstackContainer">
        <img src="/assets/html5.png">
        <img src="/assets/css.png">
        <img src="/assets/js.png">
        <img src="/assets/angular.png">
        <img src="/assets/nodejs.png">
        <img src="/assets/mongo.png">
    </div>
    <h1 class="tools-header">Tools</h1>
    <div class="tools">
        <img src="/assets/vscode.png">
        <img src="/assets/github.png">
        <img src="/assets/figma.png">
    </div>
</div>
