.technologies{
    width: 1000Px;
    margin: auto;
    padding: 100px 100px 0 100px;
    height: 80vh;
}
.tech-desc
{
    padding: 15px 0 15px 0;
}
.tech-header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:bold
}
.techstackContainer,.tools
{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}
.tools-header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight:bold;
    padding-top: 40px;
}
.tools{
    padding-top: 24px;
}