<div class="header-text">
    <div class="work-text">
        <div>
            <h2>Full Stack developer</h2>
        </div>
        <mat-card class="card">
            <mat-card-content>Full-Time</mat-card-content>
        </mat-card>
    </div>
    <div class="company">
        <div class="company-name">
            <mat-icon aria-hidden="false" aria-label="Example business icon" fontIcon="business"></mat-icon>
            <h3 style="margin:0 30px 0 5px;">{{companyName}}</h3>
            <mat-icon aria-hidden="false" aria-label="Example business icon" fontIcon="location_on"></mat-icon>
            <h3 style="margin-left: 5px;">{{companyAddress}}</h3>
        </div>
        <h3>{{experienceDate}}</h3>
    </div>
</div>
