/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    color: azure;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}
.header-text
{
    margin:50px 0 50px 0;
    border-bottom: 1px solid;
}
.work-text{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header-text .card
{   
    width: 150px;
    color: black;
    border-radius: 50px;
    background-color: yellowgreen;
}
.company{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
.company-name{
    display:flex;
}
